= form_for @client, :html => { :class => 'form-horizontal' } do |f|    
  = render "shared/error_messages", :target =>  @client
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'  
  .control-group
    = f.label :comment, :class => 'control-label'
    .controls
      = f.text_area :comment, :class => 'text_area'
  .control-group
    = f.label :port, :class => 'control-label'
    .controls
      = f.text_field :port, :class => 'text_field'
  .control-group
    = f.label :user, :class => 'control-label'
    .controls
      = f.text_field :user, :class => 'text_field'  
      
  %p
    = "hostid: #{@client.hostid}" 
    %br
    = "Last IP: #{@client.ip}"
    %br  
    = "Last Heartbear: #{heartbeat_label(@client) }"
    %br
    = "created: #{@client.created_at.strftime('%d.%m.%Y %H:%M') if @client.created_at}"
     
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), clients_path, :class => 'btn'
