%h1 About this ab

- if logged_in?
  #enviroment
    %h3 Enviroment

    %p= "Ruby Version: #{RUBY_VERSION}"
    %p= "Rails.env: #{Rails.env}"
    %p= "Rails Version: #{link_to Rails.version, 'https://github.com/rails/rails/tree/v'+Rails.version}".html_safe
    %p= "Platform: #{RUBY_PLATFORM}"
    %p= "$HOME: #{ENV['HOME']}"
    %p= "Server IP: #{local_ip}"
    %p= "App Name: (#{APPLICATION}) #{ENV['URL'].to_s.split(".").first}"
    %p= "Github: #{link_to APPLICATION, 'https://github.com/stereosupersonic/'+APPLICATION.downcase}".html_safe